# Main maintainers
*                       @mgu @ewjoachim @samuelhamard @nadege

# Documentation
/docs/                  @mgu @ewjoachim @samuelhamard @nadege @CorBott
*.rst                   @mgu @ewjoachim @samuelhamard @nadege @CorBott
*.md                    @mgu @ewjoachim @samuelhamard @nadege @CorBott
