# Main maintainers
*                       @ewjoachim @samuelhamard @nadege

# Documentation
/docs/                  @ewjoachim @samuelhamard @nadege @CorBott
*.rst                   @ewjoachim @samuelhamard @nadege @CorBott
*.md                    @ewjoachim @samuelhamard @nadege @CorBott
